/* Center align the container and its contents */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Left align the h2 headings */
  h2.div_title {
    text-align: left;
  }
  
  /* Style the radio buttons and text */
  input[type="radio"] {
    transform: scale(1.5);
  }
  
  p.radio_text {
    color: red;
  }
  
  /* Style the table */
  table {
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  td {
    padding: 10px;
  }
  
  /* Increase space between table cells */
  td:not(:last-child) {
    padding-right: 20px;
  }
  
  .submit_btn {
    margin-bottom: 100px;
  }
  .payment_btn {
    display:flex;
  }